<div class="myPanel">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xs-10 myPanelLineLeft" style="background-color: blueviolet  ">
        <p class="myPanelSentence">今までの最高記録</p>
      </div>
      <div class="col-md-2 col-xs-2 myPanelLineRight" style="background-color: yellow">
        <app-score-block [myPHeight]="65" [myPWidth]="100" [templateName]="'everBestScore'" ></app-score-block>
      </div>
    </div>
  </div>
</div>
<div class="myPanel">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xs-10 myPanelLineLeft" style="background-color: blueviolet  ">
        <p class="myPanelSentence">今日の幸運ポテチ</p>
      </div>
      <div class="col-md-2 col-xs-2 myPanelLineRight" style="background-color: yellow">
        <app-score-block [myPHeight]="65" [myPWidth]="100" [templateName]="'potateScore'" ></app-score-block>
      </div>
    </div>
  </div>
</div>
<div class="myPanel">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-xs-10 myPanelLineLeft" style="background-color: blueviolet  ">
        <p class="myPanelSentence">今日の最高記録</p>
      </div>
      <div class="col-md-2 col-xs-2 myPanelLineRight" style="background-color: yellow">
        <app-score-block [myPHeight]="65" [myPWidth]="100" [templateName]="'todayBestScore'" ></app-score-block>
      </div>
    </div>
  </div>
</div>
<div class="myBtnsPanel">
  <div class="container" style="background-color: yellow">
    <div class="row">
      <div class="col-md-8 col-xs-8 myTwitPostArea" style="background-color: darkkhaki"></div>
      <div class="col-md-4 col-xs-4 myLogoutArea" style="background-color: darkorange"></div>
    </div>
  </div>
</div>
